*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-secondary: #222222;
	--color-accessory-2: #4ac800;
	--color-primary-accessory: #ffffff;
	--color-accessory-3: #db241d;
}

/* UTILITY */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.debug{
    border: 1px solid black;
}

.flexer{
    display: flex;
}

.wrapper{
    flex-flow: row wrap;
}

/* UTILITY */

/* MAIN */

main{
    padding-top: 50px;
    height: calc(100vh - 90px);
    background-color: rgba(0, 0, 0, 0.185);
}

img{
    width: 100%;
    display: block;
}
.box{ 
    
    width: calc(100% / 7 - 13px);
    height: calc(100vh / 7 );
    margin-bottom: 10px;
    margin-left: 3px;
}
/* MAIN */
